include header
  // Main component for a primary marketing message or call to action
  .jumbotron
    h1 Welcome
    p Hello Dashboard
    p
      a.btn.btn-lg.btn-primary(href='/home/profile', role='button') Profile view »
include footer