head
  meta(charset='UTF-8')
  title Simple Login Form
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-2.2.0.min.js')
.container
  // Static navbar
  nav.navbar.navbar-default
    .container-fluid
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='/home/dashboard') Home
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/home/logout') Logout
      // /.nav-collapse
    // /.container-fluid