doctype html
html
  head
  meta(charset='UTF-8')
  title Nodejs Simple Login form
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  body
    block content
